body {
    margin: 0;
    background: url(fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    background-color: #95202d;
    text-align: center;
    padding: 20px;
    color: white;
    box-shadow: 0 0 8px rgb(0, 0, 0);
}

.pag2 {
    background-color: black;
    border-radius: 5px;
}

.index :hover{
    background-color: black;
    border-radius: 5px;
}

.pag1 :hover{
    background-color: black;
    border-radius: 5px;
}

.pag2 :hover{
    background-color: black;
    border-radius: 5px;
}

.pag3 :hover{
    background-color: black;
    border-radius: 5px;
}


nav li {
    padding: 9px;
}

nav li a {
    color: white;
    text-decoration: none;
}

nav:hover li{
    cursor: pointer;
    
}

.barra ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}

h1 {
    margin: auto;
    margin-top: 50px;
    text-align: center;
    font-size: 60px;
    color: white;
    background-color: #95202d;
    max-width: 800px;
    border-radius: 30px;
}

.calendario {
    margin: auto;
    margin-top: 20px;
    max-width: 500px;
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.61);
}

.calendario div {
    margin-top: 30px;
    background-color: #95202d;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 5px black;
    color: white;
}

span {
    text-align: center;
}
